[user]
    name = Hugh Brown
    email = hughdbrown@yahoo.com

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = blue
    changed = green
    untracked = cyan

#[core]
#	autocrlf = input
#	whitespace = trailing-space,space-before-tab
#[advice]
#	pushNonFastForward = false
#	statusHints = false
[diff]
    renames = copies
    mnemonicprefix = true
    tool = meld

[branch]
    autosetupmerge = true

[push]
    default = tracking

[rerere]
    enabled = true

[merge]
    stat = true
    tool = meld
    conflictstyle = diff3

[alias]
    visual = gitg &
    log1 = log --pretty=oneline --abbrev-commit
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
    type = cat-file -t
    dump = cat-file -p
    standup = !git log --since yesterday --author `git config user.email` --pretty=short
    standup3 = !git log --since Friday --author `git config user.email` --pretty=short
    review = "!git push origin HEAD:refs/for/$(git rev-parse --abbrev-ref HEAD)"
    tito = "!( test -e rel-eng && tito tag || true ) && git push && git push --tags"
    up = pull --ff-only --all -p
    up2 = "!git remote update -p; git merge --ff-only @{u}"
    appraise = !/Users/hughdbrown/go/bin/git-appraise

[advice]
    pushNonFastForward = false
    statusHints = false

[core]
    whitespace = trailing-space,space-before-tab

[help]
    autocorrect = 1

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[rebase]
    autosquash = true
    autostash = true
