# Oracle
export ORACLE_HOME=/usr/lib/oracle/xe/app/oracle/product/10.2.0/server
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:"${ORACLE_HOME}/lib"

export TNS_ADMIN=~/oracle
export PATH=$PATH:$ORACLE_HOME/bin
export ORACLE_SID=XE

