# Virtualenv settings
export WORKON_HOME=${HOME}/.virtualenvs
#export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages --python=python2.6'
export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages --python=python2.7'
export VIRTUALENVWRAPPER_HOOK_DIR=${WORKON_HOME}/env_hooks

# Setup PIP to work well with virtualenvwrapper
export PIP_VIRTUALENV_BASE=${WORKON_HOME}
export PIP_RESPECT_VIRTUALENV=true

source /usr/local/bin/virtualenvwrapper.sh

