export ASSESS_HOME=~/workspace/owa/web-assessment-core

#export CELERY_CONFIG_MODULE=websync.worker.celeryconfig
#export WEBSYNC_WORKER_CONFIG_FPATH=~/workspace/spt/websync-worker/src/unittest.ini
#export WEBSYNC_CI_HOST=http://hbrown-wks.wgenhq.net:5000

#export CELERYD_MULTI=/home/hbrown/.virtualenvs/websync-worker-next/bin/celeryd-multi
#export CELERYD_PID_FILE=${CELERYD_PID_FILE:-"/var/run/celeryd/$prog.pid"}
#export CELERYD_LOG_FILE=${CELERYD_LOG_FILE:-"/var/log/celeryd/$prog.log"}

