# export SPARK_HOME=~/spark/spark-1.4.1-bin-hadoop2.6
# export SPARK_HOME=~/spark/spark-1.4.1-bin-hadoop2.4
# export SPARK_HOME=~/spark/spark-1.5.1-bin-hadoop2.6
# export SPARK_HOME=~/spark/spark-1.5.2-bin-hadoop2.6
# export SPARK_HOME=~/spark/spark-1.5.2-bin-hadoop2.4
# export SPARK_HOME=~/spark/spark-2.0.0-bin-hadoop2.7
# export SPARK_HOME=~/spark/spark-2.1.0-bin-hadoop2.7
export SPARK_HOME=~/spark/spark-2.2.0-bin-hadoop2.7
export PYTHONPATH=$SPARK_HOME/python/:$PYTHONPATH
# export PYTHONPATH=$SPARK_HOME/python/lib/py4j-0.8.2.1-src.zip:$PYTHONPATH
